@model XeMayShop.Models.PhieuBaoHanh

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Thêm một phiếu bảo hành mới</h2>
                <form class="forms-sample">

                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Mã phiết xuất</label>
                        <div class="col-md-9">
                            @Html.DropDownList("MaPhieuXuat", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaPhieuXuat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ngày bắt đầu</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Thời gian bảo hành</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.ThoiGianBaoHanh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ThoiGianBaoHanh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Số khung</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.SoKhung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoKhung, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Số sườn</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.SoSuon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoSuon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (ViewBag.ErrorInfo != null)
                    {
                        <p class="text-danger">@ViewBag.ErrorInfo</p>
                    }
                    <button style="width:100px; type="submit" value="Create" class="btn btn-primary mr-2">Create</button>
                    <a href="~/Admin/AdminPhieuBaoHanh/Index">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
}