@model XeMayShop.Models.PhieuDatXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Chi tiết phiếu đặt xe </h4>

            <form class="forms-sample">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên người đặt</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.TenNguoiDat)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Điện thoại</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.SDT)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên xe</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Xe.TenXe)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Màu xe</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Xe.MauXe)
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày đặt xe</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.NgayDat)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tình trạng xe</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.TinhTrang)
                    </div>
                </div>

                <a href="~/Admin/AdminPhieuDatXes/Index">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
                </a>
            </form>
        </div>
    </div>
</div>