@model XeMayShop.Models.PhieuDatXe

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm(Html.BeginForm("Edit", "AdminPhieuDatXes", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()


    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bạn muốn chỉnh sửa thông tin phiếu đặt xe này!!!</h4>

                <form class="forms-sample">
                    <div class="form-group row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.MaPhieuDatXe)
                        @Html.HiddenFor(model => model.MaXe)
                        @Html.HiddenFor(model => model.MauXe)

                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên người đặt xe</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.TenNguoiDat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNguoiDat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Điện thoại</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tên xe</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Xe.TenXe, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Màu xe</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Xe.MauXe, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày đặt xe</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tình trạng</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (ViewBag.ErrorInfo != null)
                    {
                        <p class="text-danger">@ViewBag.ErrorInfo</p>
                    }
                    <button style="width:100px; type="submit" value="Save" class="btn btn-primary mr-2">Save</button>
                    <a href="~/Admin/AdminPhieuDatXes/Index">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
}